extends layout

block content
	div(ng-app='timezIn')
		div(ng-controller='createTimezIn')
			input(type='file' file-model='myFile')
			button(ng-click='uploadFile()') Upload Image

			div
				input(type='text' ng-model='data.text')
				div {{data.text}}